nav {
    height: 40px;
    line-height: 41px;
}

nav ul li {
    width: 11.111111%;
    text-align: center;
    border-style: solid;
    border-color: #194086;
    border-width: 1px 1px 1px 0;
    background-color: #0a2964;
    font-size: .9rem;
    cursor: pointer;
}

nav ul li.active, #nav-bar {
    border-color: #ffc000;
}

nav ul li.active {
    color: #112655;
    background: #ffc000;
    background: -webkit-linear-gradient(#ffd204, #fdb300);
    background: -o-linear-gradient(#ffd204, #fdb300);
    background: -moz-linear-gradient(#ffd204, #fdb300);
    background: linear-gradient(#ffd204, #fdb300);
}

nav ul li:hover {
    color: #112655;
    border-color: #e4a300;
    background: #e4a300;
    background: -webkit-linear-gradient(#e5b504, #e29600);
    background: -o-linear-gradient(#e5b504, #e29600);
    background: -moz-linear-gradient(#e5b504, #e29600);
    background: linear-gradient(#e5b504, #e29600);
}

#nav-transfer.active > div {
    display: none;
}

#welcome-bar {
    color: #063887;
    padding: 5px 0 10px 0;
    margin-bottom: 0;
    background: #f0f0f0;
    background: -webkit-linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
    background: -o-linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
    background: -moz-linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
    background: linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
}

#side-bar > *, #quick-links > * {
    background-color: white;
}

#side-bar li {
    border-style: dotted;
    border-width: 0 0 2px 0;
    padding: 4px 4px 4px 12px;
}

#side-bar li a {
    color: #103770;
}

#quick-links p {
    margin-bottom: -16px;
    padding: 4px;
}

#quick-links ul {
    list-style-image: url('../img/bulletarrow.png');
    font-size: 12px;
    padding: 0 0 20px 22px;
    margin-bottom: -16px;
}

#quick-links li a, #quick-links p {
    color: #305388;
}

#quick-links img {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}

@media only screen and (min-width: 601px) {
    .valign-wrapper-pro {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
    }
}