#ocd, #welcome-ocd {
    font-family: "Roboto";
}

.tabs {
    margin-top: 1rem;
}

.tabs .indicator {
    background-color: #0a2964;
}

.tabs .tab a {
    color: #08276a;
}

.tabs .tab a:hover {
    color: #305388;
}

.filled {
    border-bottom: 1px solid #26a69a !important;
    box-shadow: 0 1px 0 0 #26a69a !important;
}

.gold {
    background-color: #ffd700;
}

.silver {
    background-color: #c0c0c0;
}

.bronze {
    background-color: #cd7f32;
}

p.charity {
    color: rgba(0, 0, 0, 0.71);
    padding: 0;
    margin-right: 4rem !important;
}

.charity-img {
    width: 10rem;
    height: 10rem;
}

p.award {
    color: rgba(0, 0, 0, 0.71);
    padding: 0;
}

.award-img {
    width: 14rem;
    height: 14rem;
}

.award-small-img {
    width: 6rem;
    height: 6rem;
}

.award-micro-img {
    width: 3rem;
    height: 3rem;
    margin-bottom: -1rem;
    margin-left: 0.5rem;
}

.card .card-subtitle {
    font-size: 19px;
    font-weight: 300;
}

#percent-btn {
    margin-right: 1.4rem;
}

#percent-btn.z-depth-0,
#fixed-btn.z-depth-0,
.hide-ocd.z-depth-0,
.disable-ocd.z-depth-0 {
    background-color: #bdbdbd !important;
}

.collection .collection-item.avatar .circle {
  width: 64px;
  height: 64px;
}

.collection .collection-item.avatar {
    padding-left: 96px;
}

.secondary-content label {
    padding-left: 22px;
}

#request-modal .row {
    width: 96%;
}

#request-modal a {
    margin-right: 12px;
}

h4.text-lighten-1 {
    font-weight: 300;
}

.btns-row {
    margin: 0 0 20px 0 !important;
}

@media only screen and (min-width: 993px) {
    #awards-modal,
    #leaderboard-modal {
        width: 35%;
    }
}

.collapsible {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}

.collapsible li {
    background-color: #fcfcfc;
}

li > span > .collapsible-header {
    padding: 0.5rem 1.3rem;
    font-size: 28px;
    font-weight: 300;
}

li > .collapsible-header {
    padding: 1.8rem 1.2rem;
    font-size: 24px;
    font-weight: 300;
}

li > .collapsible-header i:not(.fa-caret-down) {
    display: inline-block;
    position: relative;
    float: none;
    width: 5rem;
    font-size: 4rem;
    vertical-align: middle;
}

li > .collapsible-header div {
    display: inline-block;
    position: absolute;
    float: right;
    left: 56%;
    font-weight: 400;
}
