html {
    background-color: #f0f0f0;
    font-family: Arial;
}

a, img, footer p {
    cursor: pointer;
}

.container {
    max-width: 1920px;
    width: 90%;
}

#header * {
    box-shadow: none;
}

#logo-bar > div {
    height: 24px;
    width: 94%;
}

#logo-img {
    position: absolute;
    margin-top: -16px;
}

#logo-img img {
    width: 215px;
}

#logo-bar span {
    margin-left: calc(215px + 1rem);
    font-size: 17px;
}

.log-btn {
    margin-top: 3px;
    float: right;
}

#nav-bar {
    padding-top: 2rem;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: #112655;
}

.nbd-indigo {
    background-color: #112655 !important;
}

.nbd-blue {
    background-color: #0a2964;
}

.nbd-blue-text {
    color: #112655;
}

.nbd-dark-text {
    color: #c79706;
}

.nbd-yellow {
    background-color: #ffc000 !important;
}

.bold {
    font-weight: bold;
}

.page-footer b {
    color: #ffc000;
}