html {
    background-color: #f0f0f0;
    font-family: Arial;
}

#header * {
    box-shadow: none;
}

#logo-bar > div {
    height: 24px;
}

#logo-bar > div > img {
    position: absolute;
    margin: -16px 0 0 -36px;
}

#logo-bar > div > span {
    margin-left: 190px;
}

nav {
    height: 40px;
    line-height: 41px;
}

#nav-bar {
    padding-top: 2rem;
    border-width: 0 0 3px 0;
    border-style: solid;
}

nav ul li {
    width: 11.111111%;
    text-align: center;
    border-style: solid;
    border-color: #194086;
    border-width: 1px 1px 1px 0;
    background-color: #0a2964;
    font-size: .9rem;
}

nav ul li.active, #nav-bar, hr {
    border-color: #ffc000;
}

nav ul li.active {
    background: #ffc000;
    background: -webkit-linear-gradient(#ffd204, #fdb300);
    background: -o-linear-gradient(#ffd204, #fdb300);
    background: -moz-linear-gradient(#ffd204, #fdb300);
    background: linear-gradient(#ffd204, #fdb300);
}

nav ul li:hover {
    border-color: #e4a300;
    background: #e4a300;
    background: -webkit-linear-gradient(#e5b504, #e29600);
    background: -o-linear-gradient(#e5b504, #e29600);
    background: -moz-linear-gradient(#e5b504, #e29600);
    background: linear-gradient(#e5b504, #e29600);
}

.container {
    max-width: 1920px;
    width: 90%;
}

.nbd-indigo {
    background-color: #112655 !important;
}

.nbd-blue, .tabs .indicator {
    background-color: #0a2964;
}

.nbd-blue-text, nav ul li:hover, nav ul li.active {
    color: #112655;
}

.nbd-dark-text {
    color: #c79706;
}

.nbd-yellow {
    background-color: #ffc000 !important;
}

.gold {
    background-color: #ffd700;
}

.silver {
    background-color: #c0c0c0;
}

.bronze {
    background-color: #cd7f32;
}

footer b {
    color: #ffc000;
}

.bold {
    font-weight: bold;
}

#welcome-bar {
    color: #063887;
    padding: 5px 0 10px 0;
    margin-bottom: 0;
    background: #f0f0f0;
    background: -webkit-linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
    background: -o-linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
    background: -moz-linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
    background: linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
}

#side-bar > *, #quick-links > *, #nbd > *, #transfer > * {
    background-color: white;
}

#side-bar li {
    border-style: dotted;
    border-width: 0 0 2px 0;
    padding: 4px 4px 4px 12px;
}

#side-bar li a {
    color: #103770;
}

a, img, footer p, nav li {
    cursor: pointer;
}

#quick-links p {
    margin-bottom: -16px;
    padding: 4px;
}

#quick-links ul {
    list-style-image: url('../img/bulletarrow.png');
    font-size: 12px;
    padding: 0 0 20px 22px;
    margin-bottom: -16px;
}

#quick-links li a, #quick-links p, .tabs .tab a:hover {
    color: #305388;
}

#quick-links img {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}

#status-bars {
    background-color: #fdf5fb;
    padding: 0 8px;
    color: #1d1a5a;
}

#status-title {
    padding-top: 8px;
    margin-bottom: -12px;
}

#status-bars > div.row {
    margin-top: 20px;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 1px 3px 1px;
    background: white;
    background: -webkit-linear-gradient(left, white, white, #dff2fb, #bde4f4, #b5e1f3, #aedef1);
    background: -o-linear-gradient(right, white, white, #dff2fb, #bde4f4, #b5e1f3, #aedef1);
    background: -moz-linear-gradient(right, white, white, #dff2fb, #bde4f4, #b5e1f3, #aedef1);
    background: linear-gradient(to right, white, white, #dff2fb, #bde4f4, #b5e1f3, #aedef1);
}

#status-bars img {
    vertical-align: middle;
    padding: 4px 12px 8px 0;
}

#text1, #text2 {
    margin-top: -20px;
    padding-top: 16px;
    padding-bottom: 20px;
}

#text1 p {
    line-height: 1.5;
    font-size: 95%;
}

#text2 img {
    float: right;
}

#text2 h5, .tabs .tab a {
    color: #08276a;
}

#divider {
    border-right: 3px double #bbb;
}

@media only screen and (max-width: 600px) {
    #divider {
        border-right: 0;
    }
}

#ocd, #modal1 {
    font-family: "Roboto";
}

.tabs, #transfer {
    margin-top: 1rem;
}

#transfer > div.row {
    padding: 12px;
}

#transfer > div.row > .row {
    margin-bottom: 10px;
}

#transfer i {
    font-size: 1.1rem;
    color: #f44336;
}

#transfer .red-text, #transfer > div.row > p {
    font-size: .8rem;
}

#transfer h6 {
    background-color: #f0f0f0;
    padding: 8px 6px;
    margin: 0 -6px;
}

#transfer p {
    padding: 0;
}

#transfer select.browser-default {
    background-color: buttonface;
    border: 1px solid #a9a9a9;
    border-radius: 0;
    height: 1.9rem;
    padding: 4px !important;
}

#transfer input {
    padding: 1px 0;
    margin-top: 14px;
    color: inherit;
    background-color: white;
    border: 2px inset;
    border-bottom: 2px inset !important;
    height: 1.7rem;
    box-shadow: none;
}

#transfer div.valign-wrapper {
    margin: -14px 0;
}

#transfer div.top {
    margin-top: 10px;
}

.determinate {
    width: 75%;
}

.filled {
    border-bottom: 1px solid #26a69a !important;
    box-shadow: 0 1px 0 0 #26a69a !important;
}

#red-box > span {
    background-color: #ffe4ca;
    border: 1px solid #ffc2a7;
    font-size: .9rem;
    padding: 3px 5px;
}