#transfer > * {
    background-color: white;
    margin-top: 1rem;
}

#transfer > div.row {
    padding: 12px;
}

#transfer > div.row > .row {
    margin-bottom: 10px;
}

#transfer i {
    font-size: 1.1rem;
    color: #f44336;
}

#transfer .red-text, #transfer > div.row > p {
    font-size: .8rem;
}

#transfer h6 {
    background-color: #f0f0f0;
    padding: 8px 6px;
    margin: 0 -6px;
}

#transfer p {
    padding: 0;
}

#transfer select.browser-default {
    background-color: buttonface;
    border: 1px solid #a9a9a9;
    border-radius: 0;
    height: 1.9rem;
    padding: 4px !important;
}

#transfer input:not(#checkbox-input) {
    padding: 1px 4px;
    margin-top: 14px;
    color: inherit;
    background-color: white;
    border: 2px inset;
    border-bottom: 2px inset !important;
    height: 1.7rem;
    box-shadow: none;
}

#transfer div.valign-wrapper {
    margin: -14px 0;
}

#transfer div.top {
    margin-top: 10px;
}

#red-box > span {
    background-color: #ffe4ca;
    border: 1px solid #ffc2a7;
    font-size: .9rem;
    padding: 3px 5px;
}

#checkbox-input {
    width: 1.7rem;
    height: 1.5rem;
}

#ocd-modal .modal-content{
    font-family: "Roboto";
    padding: 18px 12px 8px 12px;
}

#ocd-button {
    margin-top: 1.5rem;
}

#ocd-button .m6 {
    padding-top: 7px;
}

span.title {
    font-size: 24px;
    font-weight: 300;
}

#percent-btn.z-depth-0,
#fixed-btn.z-depth-0,
#hide-it.z-depth-0,
#regular.z-depth-0 {
    background-color: #bdbdbd !important;
}

#done {
    float: none;
}

.carousel {
    height: 220px;
    margin-top: -12rem;
}