{% extends "outside.html" %}

{% block head -%}
        <!--Import inner styles-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/inside.css') }}"/>
{%- endblock %}

{% block navbar -%}
                <div class="container">
                    <nav class="nbd-indigo hide-on-med-and-down">
                        <ul class="bold">
                            <li id="nav-dashboard" {% block dashboard %}{% endblock %}>My&nbsp;Dashboard</li>
                            <li>Accounts</li>
                            <li>Cards</li>
                            <li>Loans</li>
                            <li id="nav-transfer" {% block transfer %}{% endblock %}>Transfers</li>
                            <li>Payments</li>
                            <li>Insurance</li>
                            <li>Investments</li>
                            <li>Contact&nbsp;Us</li>
                        </ul>
                    </nav>
                </div>
                <script type="text/javascript">
                    $("#nav-dashboard").click(function() {
                        $(location).attr("href", "{{ url_for('dashboard') }}");
                    });

                    $("#nav-transfer").click(function() {
                        $(location).attr("href", "{{ url_for('transfer') }}");
                    });
                </script>
{%- endblock %}

{% block body -%}
        <div id="welcome-bar" class="row">
            <div class="col m3 offset-m2 s12 bold">
                <span>{% block welcome %}{% endblock %}</span>
            </div>
        </div>

        <div id="main" class="row">
            <div id="side-bar" class="col m2 s12">
                <ul>
                    {% block sidebar %}{% endblock %}
                </ul>
            </div>
            {% block main %}{% endblock %}
            <div id="quick-links" class="col m2 s12">
                <p class="bold">Quick Links</p>
                <ul>
                    <li><a>Purchase Foreign Currency Cash</a></li>
                    <li><a>Etisalat Payment</a></li>
                    <li><a>Own Account Transfer</a></li>
                    <li><a>Transfer to Other NBD Account</a></li>
                    <li><a>Local Transfer (UAE)</a></li>
                    <li><a>International Transfer</a></li>
                    <li><a>DU Payment</a></li>
                    <li><a>Credit Card Payment</a></li>
                </ul>
                <p class="bold">Promotions</p>
                <img src="{{ url_for('static', filename='img/ads/ad1.png') }}">
            </div>
        </div>
{%- endblock %}