{% extends "inside.html" %}

{% block head -%}
        {{ super() }}
        <!--Import ocd styles-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/ocd.css') }}"/>
        <!--Import ocd scripts-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/ocd.js') }}"></script>
        <!--Import config scripts-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
        <!--Import charts handling scripts-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/charts-loader.js') }}"></script>

        <!--Chart scripts-->
        <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var chart = new google.visualization.AreaChart(document.getElementById("chart"));
                var data = new google.visualization.DataTable();

                // Declare columns
                data.addColumn("date", "Day");
                data.addColumn("number", "Amount");

                data.addRows([
                    {%- for donation in interface.get_donations() %}
                    [new Date({{donation.date.year}}, {{donation.date.month - 1}}, {{donation.date.day}}), {{donation.amount}}],
                    {%- endfor %}
                ]);

                var options = {
                    title: "Donations History",
                    hAxis: { title: "Month", titleTextStyle: { color: "#333" }},
                    vAxis: { title: "Money", format: "# AED", titleTextStyle: { color: "#333" }, minValue: 0 },
                    legend: "none",
                    colors: ["#15A0C8"],
                    chartArea: { left: 120 },
                    lineWidth: 3,
                    pointSize: 8,
                    pointShape: "circle",
                    width: 900
                };

                $("#history").click(function() {
                    options.width = $("#space").width() -62;
                    chart.draw(data, options);
                });

                $(window).resize(function(){
                    options.width = $("#space").width() -62;
                    chart.draw(data, options);
                });
            }
        </script>
{%- endblock %}

{% block title %}One Click Donation{% endblock %}

{% block dashboard %}class="active"{% endblock %}

{% block welcome %}Good Evening FOBIAA{% endblock %}

{% block sidebar -%}
                    <li><a href="{{ url_for('dashboard') }}">Financial Summary</a></li>
                    <li><a>My e-Statements/Advices</a></li>
                    <li><a>My E-Mails</a></li>
                    <li><a>My Profile</a></li>
                    <li><a>My Services</a></li>
                    <li><a>My Limits</a></li>
                    <li><a>My Beneficiaries</a></li>
                    <li><a>SMS Banking</a></li>
                    <li><a>Rates</a></li>
                    <li><a>Social Banking</a></li>
                    <li class="nbd-yellow"><a href="{{ url_for('ocd') }}">My Donations</a></li>
{%- endblock %}

{% block main -%}
            {% set charities = interface.get_charities() %}
            <div id="ocd" class="col m8 s12">
                <ul class="tabs z-depth-1">
                    <li class="tab col s4"><a href="#ocd-summary" class="active">Summary</a></li>
                    <li class="tab col s4"><a href="#ocd-config">Configurations</a></li>
                    <li class="tab col s4" id="history"><a href="#ocd-history">Awards &amp History</a></li>
                </ul>
                <div class="container">
                    <div class="row" id="space"></div>
                    <div id="ocd-summary" class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center">
                                        <span class="card-title">You're currently donating <b>10AED</b> every month!<br>WE TRULY APPRECIATE IT</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card silver">
                                    <div class="card-content center">
                                        <span class="card-title">Your cumiliative donations so far are around<br><b>2000AED</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card gold">
                                    <div class="card-content center">
                                        <span class="card-title">You have achived the <b>Golden medal</b><br>For your great contribution in charity</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card bronze">
                                    <div class="card-content center">
                                        <span class="card-title">You have claimed the <b>3rd</b> place<br>in the leaderboard of donators</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center">
                                        <span class="card-title">You're more than half way through reaching the next award!</span><br><br><br>
                                        <div class="row">
                                            <div class="progress col s8 offset-s2">
                                                <div class="determinate"></div>
                                            </div>
                                        </div>
                                        <span class="card-title">Just what is it gonna be...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ocd-config" class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center">
                                        <span class="card-title">Choose the way you like to donate</span><br><br>
                                        <div class="row">
                                            <a id="percent-btn" class="waves-effect waves-teal btn">Percentage</a>
                                            <a id="fixed-btn" class="waves-effect waves-teal btn">Fixed amount</a>
                                        </div>
                                        <div id="percent">
                                            <br><span class="card-subtitle">Percentage to be dontated with transactions</span>
                                            <div class="row">
                                                <div class="input-field col s2 offset-s2">
                                                    <input class="with-gap" name="percentage" value="2.5" type="radio" id="p1" />
                                                    <label for="p1">2.5%</label>
                                                </div>
                                                <div class="input-field col s1">
                                                    <input class="with-gap" name="percentage" value="5.0" type="radio" id="p2" />
                                                    <label for="p2">5.0%</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input class="with-gap" name="percentage" value="10.0" type="radio" id="p3" />
                                                    <label for="p3">10.0%</label>
                                                </div>
                                                <div class="input-field col s2">
                                                    <input id="other-percentage" type="text">
                                                    <label for="other-percentage">Other: (%)</label>
                                                </div>
                                            </div>
                                            <span class="card-subtitle">Frequency of Donating</span>
                                            <div class="row">
                                                <div class="input-field col s3 offset-s3">
                                                    <input class="with-gap" name="frequency" value="all" type="radio" id="f1" />
                                                    <label for="f1">Every Transaction</label>
                                                </div>
                                                <div class="input-field col s4">
                                                    <input class="with-gap" name="frequency" value="two" type="radio" id="f2" />
                                                    <label for="f2">Every two Transactions</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="fixed">
                                            <br><span class="card-subtitle">Fixed amount to be regularly donated</span>
                                            <div class="row">
                                                <div class="input-field col s2 offset-s2">
                                                    <input class="with-gap" name="amount" value="5" type="radio" id="a1" />
                                                    <label for="a1">5AED</label>
                                                </div>
                                                <div class="input-field col s1">
                                                    <input class="with-gap" name="amount" value="10" type="radio" id="a2" />
                                                    <label for="a2">10AED</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input class="with-gap" name="amount" value="20" type="radio" id="a3" />
                                                    <label for="a3">20AED</label>
                                                </div>
                                                <div class="input-field col s2">
                                                    <input id="other-amount" type="text">
                                                    <label for="other-amount">Other: (AED)</label>
                                                </div>
                                            </div>
                                            <span class="card-subtitle">Frequency of Donating</span>
                                            <div class="row">
                                                <div class="input-field col s2 offset-s3">
                                                    <input class="with-gap" name="period" value="week" type="radio" id="d1" />
                                                    <label for="d1">Weekly</label>
                                                </div>
                                                <div class="input-field col s1">
                                                    <input class="with-gap" name="period" value="month" type="radio" id="d2" />
                                                    <label for="d2">Monthly</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input class="with-gap" name="period" value="year" type="radio" id="d3" />
                                                    <label for="d3">Annually</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center">
                                        <span class="card-title">Reveal the hero?</span>
                                        <div class="row">
                                            <div class="input-field col s8 offset-s2">
                                                <input class="with-gap" name="reveal" value="false" type="radio" id="r1" />
                                                <label for="r1">Keep my information and donations anonymous</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s8 offset-s2">
                                                <input class="with-gap" name="reveal" value="true" type="radio" id="r2" />
                                                <label for="r2">Show my details and enter the leaderboard</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center">
                                        <span class="card-title">Where your donation goes</span>
                                        <div class="row">
                                            <h4 class="grey-text text-lighten-1">You Haven't Choosing any Charity Yet!</h4>
                                            {%- for charity in charities %}
                                            <img src="{{ url_for('static', filename='img/charity/' + charity.image + '.jpg') }}" class="charity-img hide">
                                            {%- endfor %}
                                        </div>
                                        <a class="waves-effect btn modal-trigger" href="#charity-modal">Choose Charities</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center">
                                        <span class="card-title">Save Configs, Disable &amp; Hide</span>
                                        <div class="row"></div>
                                        <div class="row" id="btns-row">
                                            <button id="hide-ocd" value="show" class="waves-effect waves-light orange lighten-2 btn z-depth-0 right">Hide Donation Checkbox</button>
                                            <button id="disable" value="enable" class="waves-effect waves-light red lighten-1 btn z-depth-0 left">Disable This Application</button>
                                        </div>
                                        <a id="save" class="waves-effect btn">Save Settings</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Charity Modal Structure -->
                        <div id="charity-modal" class="modal">
                            <div class="modal-content">
                                <h4 class="grey-text text-darken-1">Supported Charities</h4>
                                <ul class="collection">
                                    {% for charity in charities %}
                                    <li class="collection-item avatar">
                                        <img src="{{ url_for('static', filename='img/charity/' + charity.image + '.jpg') }}" class="circle">
                                        <span class="title">{{ charity.name }}</span>
                                        <p class="charity">{{ charity.description|safe }}</p>
                                        <a class="secondary-content"><input type="checkbox" id="{{ charity.image }}"><label for="{{ charity.image }}"></label></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <a class="waves-effect waves-light btn modal-trigger" href="#request-modal">Request A Charity</a>
                                <a id="done" class="waves-effect waves-light btn right">Done</a>
                            </div>
                        </div>
                        <!--Request Modal Structure -->
                        <div id="request-modal" class="modal">
                            <div class="modal-content">
                                <h4 class="center">Request a Charity Organisation to be Added</h4>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fa fa-building prefix" aria-hidden="true"></i>
                                        <input id="name" type="text" class="validate">
                                        <label for="name">Name of Organization</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="fa fa-pencil prefix" aria-hidden="true"></i>
                                        <input id="reason" type="text" class="validate">
                                        <label for="reason">Reason Behind the Choice</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="fa fa-comments prefix" aria-hidden="true"></i>
                                        <textarea id="textarea" class="materialize-textarea"></textarea>
                                        <label for="textarea">Comments</label>
                                    </div>
                                    <a class="waves-effect waves-light btn right">submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ocd-history" class="center">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div id="chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{%- endblock %}