{% extends "inside.html" %}
{% import "config.html" as config %}

{% block head %}{{ super() }}
        <!--Import ocd styles-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/ocd.css') }}"/>
        {{ config.scripts() }}{% endblock %}

{% block title %}One Click Donation{% endblock %}

{% block dashboard %}class="active"{% endblock %}

{% block welcome %}Good Evening FOBIAA{% endblock %}

{% block sidebar %}
                    <li><a href="{{ url_for('dashboard') }}">Financial Summary</a></li>
                    <li><a>My e-Statements/Advices</a></li>
                    <li><a>My E-Mails</a></li>
                    <li><a>My Profile</a></li>
                    <li><a>My Services</a></li>
                    <li><a>My Limits</a></li>
                    <li><a>My Beneficiaries</a></li>
                    <li><a>SMS Banking</a></li>
                    <li><a>Rates</a></li>
                    <li><a>Social Banking</a></li>
                    <li class="nbd-yellow"><a href="{{ url_for('ocd') }}">My Donations</a></li>
{% endblock %}

{% block main %}
            <div id="ocd" class="col m8 s12">
                <ul class="tabs z-depth-1">
                    <li class="tab col s4"><a href="#ocd-summary" class="active">Summary</a></li>
                    <li class="tab col s4"><a href="#ocd-config">Configurations</a></li>
                    <li class="tab col s4"><a href="#ocd-history">Awards &amp History</a></li>
                </ul>
                <div class="container">
                    <div class="row"></div>
                    <div id="ocd-summary" class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center">
                                        <span class="card-title">You're currently donating <b>10AED</b> every month!<br>WE TRULY APPRECIATE IT</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card silver">
                                    <div class="card-content center">
                                        <span class="card-title">Your cumiliative donations so far are around<br><b>2000AED</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card gold">
                                    <div class="card-content center">
                                        <span class="card-title">You have achived the <b>Golden medal</b><br>For your great contribution in charity</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card bronze">
                                    <div class="card-content center">
                                        <span class="card-title">You have claimed the <b>3rd</b> place<br>in the leaderboard of donators</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center">
                                        <span class="card-title">You're more than half way through reaching the next award!</span><br><br><br>
                                        <div class="row">
                                            <div class="progress col s8 offset-s2">
                                                <div class="determinate"></div>
                                            </div>
                                        </div>
                                        <span class="card-title">Just what is it gonna be...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ocd-config" class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center">
                                        {{ config.type() }}
                                        <div class="row"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center">
                                        <span class="card-title">Reveal the hero?</span>
                                        <div class="row">
                                            <div class="input-field col s8 offset-s2">
                                                <input class="with-gap" name="group1" type="radio" id="a1"  />
                                                <label for="a1">Keep my donations anonymous &amp unknow through out the site</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s8 offset-s2">
                                                <input class="with-gap" name="group1" type="radio" id="a2"/>
                                                <label for="a2">Show others your name and compete entering the leaderboard</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center">
                                        {{ config.charity() }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ocd-history" class="center"><img width="90%" src="{{ url_for('static', filename='img/history.png') }}"></div>
                </div>
            </div>
{% endblock %}