{% extends "inside.html" %}

{% block head -%}
        {{ super() }}
        <!--Import ocd styles-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/ocd.css') }}"/>
        <!--Import ocd scripts-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/ocd.js') }}"></script>
        <!--Import config scripts-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
        <!--Import charts handling scripts-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/charts-loader.js') }}"></script>

        <!--Chart scripts-->
        <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var chart = new google.visualization.AreaChart(document.getElementById("chart"));
                var data = new google.visualization.DataTable();

                // Declare columns
                data.addColumn("date", "Day");
                data.addColumn("number", "Amount");

                data.addRows([
                    {%- for donation in interface.get_donations() %}
                    [new Date({{donation.date.year}}, {{donation.date.month - 1}}, {{donation.date.day}}), {{donation.amount}}],
                    {%- endfor %}
                ]);

                var options = {
                    hAxis: { title: "Month", titleTextStyle: { fontName: "Roboto", fontSize: 22, bold: false, italic: false, color: "#333" }},
                    vAxis: { title: "Money", format: "# AED", titleTextStyle: { fontName: "Roboto", fontSize: 22, bold: false, italic: false, color: "#333" }, minValue: 0 },
                    legend: "none",
                    colors: ["#15A0C8"],
                    chartArea: { left: 200, top: 30, bottom: 70 },
                    lineWidth: 3,
                    pointSize: 8,
                    pointShape: "circle",
                    width: 900,
                    height: 500
                };

                function drawChart() {
                    var space = $("#space").width() -62;
                    options.width = space;
                    options.height = space / 3;
                    options.chartArea.left = space / 6;
                    options.chartArea.top = space / 42;
                    options.chartArea.bottom = space / 10;
                    chart.draw(data, options);
                }
                
                $(window).resize(drawChart);
                drawChart();
            }
        </script>
{%- endblock %}

{% block title %}One Click Donation{% endblock %}

{% block dashboard %}class="active"{% endblock %}

{% block welcome %}Good Evening {{ session["username"] }}{% endblock %}

{% block sidebar -%}
                    <li><a href="{{ url_for('dashboard') }}">Financial Summary</a></li>
                    <li><a>My e-Statements/Advices</a></li>
                    <li><a>My E-Mails</a></li>
                    <li><a>My Profile</a></li>
                    <li><a>My Services</a></li>
                    <li><a>My Limits</a></li>
                    <li><a>My Beneficiaries</a></li>
                    <li><a>SMS Banking</a></li>
                    <li><a>Rates</a></li>
                    <li><a>Social Banking</a></li>
                    <li class="nbd-yellow"><a href="{{ url_for('ocd') }}">My Donations</a></li>
{%- endblock %}

{% block main -%}
            {%- set rank = interface.get_rank() -%}
            {%- set snippet_index = rank - 3 if rank > 2 else 0 -%}
            {%- set client = interface.get_client() -%}
            {%- set awards = interface.get_awards() -%}
            {%- set charities = interface.get_charities() -%}
            {%- set achievements = interface.get_achievements() -%}
            {%- set colors = ["teal", "orange", "purple", "blue"] %}
            {%- set progresses = interface.get_progress().items() -%}
            {%- if achievements.first() -%}
                {%- set recentAward = interface.get_awards_by_image(achievements[-1].award) -%}
            {%- endif -%}
            {% macro exp(rank) %}{%- if rank % 10 == 1 %}st{% elif rank % 10 == 2 %}nd{% elif rank % 10 == 3 %}rd{% else %}th{% endif %}{%- endmacro %}
            <script type="text/javascript">
                $(document).ready(function() {
                    if("{{ client.app }}" == "disable") {
                        $("#ocd").hide();
                    } else {
                        $("#welcome-ocd").hide();

                        $("#{{ client.type }}-btn").trigger("click");
                        if($("input[name='{{ client.type }}'][value='{{ client.amount }}']").length == 1)
                            $("input[name='{{ client.type }}'][value='{{ client.amount }}']").trigger("click");
                        else if("{{ client.amount }}" != "None")
                            $("#other-{{ client.type }}").val({{ client.amount }}).addClass("filled");
                        $("input[name='{{ client.type }}-freq'][value='{{ client.frequency }}']").trigger("click");
                        $("input[name='reveal'][value='{{ client.reveal }}']").trigger("click");
                        {%- for target in interface.get_targets() %}
                        $("#{{ target.charity }}").trigger("click");
                        $("#target img[src='{{ url_for('static', filename='img/charity/' + target.charity + '.jpg') }}']").removeClass("hide");
                        {%- endfor %}
                        if($("#target img.hide").length != 10)
                            $("#target h4").hide();
                        {%- for achievement in achievements %}
                        $("#awards img[src='{{ url_for('static', filename='img/award/' + achievement.award + '.png') }}']").removeClass("hide");
                        {%- endfor %}
                        if($("#awards img.hide").length != 12)
                            $("#awards h4").hide();
                    }
                    if("{{ client.checkbox }}" == "hide") {
                        $(".hide-ocd").html("Show Donation Checkbox <i class='fa fa-plus right' aria-hidden='true'></i>").click();
                    }
                });
            </script>
            <div id="ocd" class="col l8 s12">
                <ul class="tabs z-depth-1">
                    <li class="tab col s4" id="summary"><a href="#ocd-summary" class="active"><i class="fa fa-tachometer hide-on-small-only" aria-hidden="true"></i> Summary</a></li>
                    <li class="tab col s4" id="configs"><a href="#ocd-config"><i class="fa fa-cog hide-on-small-only" aria-hidden="true"></i> Configurations</a></li>
                    <li class="tab col s4" id="history"><a href="#ocd-history"><i class="fa fa-area-chart hide-on-small-only" aria-hidden="true"></i> Awards &amp History</a></li>
                </ul>
                <div class="container">
                    <div class="row" id="space"></div>
                    <div id="ocd-summary" class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <ul class="collapsible popout" data-collapsible="accordion">
                                    <li>
                                        <span>
                                            <div class="collapsible-header">Basic Summary</div>
                                        </span>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">
                                            <i class="fa fa-money fa-fw" aria-hidden="true"></i>
                                            My Donations<div class="hide-on-small-only">AED {{ client.score }}</div>
                                            <i class="fa fa-caret-down right " aria-hidden="true"></i>
                                        </div>
                                        <div class="collapsible-body"><p>
                                            {% if client.score != 0 %}
                                                Your total donations so far are <strong>AED{{ client.score }}</strong>, and that was within <strong>{{ interface.get_time().days }} days</strong>.<br><br>
                                                For more information about your donations, you can check the history and awards tab.
                                            {% else %}
                                                You haven't donated yet, why not start now?
                                            {% endif %}
                                            </p></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">
                                            <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>
                                            My Configurations
                                            <div class="hide-on-small-only">
                                                {% if client.amount %}
                                                    {{ client.amount }}
                                                    {%- if client.type == "percent" -%}
                                                        % Every {% if client.frequency == "two" %}Two Transactions{% else %}Transaction{% endif %}
                                                    {% else %}
                                                        AED Every {{ client.frequency }}
                                                    {% endif %}
                                                {% else %}
                                                    Nothing!
                                                {% endif %}
                                            </div>
                                            <i class="fa fa-caret-down right" aria-hidden="true"></i>
                                        </div>
                                        <div class="collapsible-body"><p>The current configuration of your donations is to donate <strong>
                                                {% if client.amount %}
                                                    {{ client.amount }}
                                                    {%- if client.type == "percent" -%}
                                                        % Every {% if client.frequency == "two" %}Two Transactions{% else %}Transaction{% endif %}
                                                    {% else %}
                                                        AED Every {{ client.frequency }}
                                                    {% endif %}
                                                {% else %}
                                                    Nothing!
                                                {% endif %}
                                            </strong><br><br>
                                            You can always modify them by going to the configurations tab.</p></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">
                                            <i class="fa fa-trophy fa-fw" aria-hidden="true"></i>
                                            My Recent Award
                                            <div class="hide-on-small-only">{% if recentAward %}{{ recentAward.name }}{% else %}None Yet!{% endif %}</div>
                                            <i class="fa fa-caret-down right" aria-hidden="true"></i>
                                        </div>
                                        <div class="collapsible-body"><p>
                                            {% if recentAward %}
                                                You have recently achieved an award, so now you're <strong>{{ recentAward.name }}</strong>
                                                <img src="{{ url_for('static', filename='img/award/' + achievements[-1].award + '.png') }}" class="award-micro-img"><br><br>
                                                The task you completed to earn it was to {{ recentAward.description }}</p></div>
                                            {% else %}
                                                You haven't achieved any awards yet, check the history and awards tab to know how to get them.
                                            {% endif %}
                                    </li>
                                    <li>
                                        <div class="collapsible-header">
                                            <i class="fa fa-list-ol fa-fw" aria-hidden="true"></i>
                                            Leaderboard Position<div class="hide-on-small-only">{% if rank > 0 %}The {{ rank }}<sup>{{ exp(rank) }}</sup>{% else %}{{rank}}Not in Leaderboard!{% endif %}</div>
                                            <i class="fa fa-caret-down right" aria-hidden="true"></i>
                                        </div>
                                        <div class="collapsible-body"><p>{% if rank > 0 %}You have claimed <strong>The {{ rank }}<sup>{{ exp(rank) }}</sup></strong> position in the leaderboard of the donors.<br><br>
                                            To check other donors in the leaderboard, head over to history and awards tab.{% else %}Not in Leaderboard!{% endif %}</p></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center hoverable">
                                        <span class="card-title">Your Progress Towards the Next Award</span><br><br>
                                        <h4 id="no-next-award" class="grey-text">Wow, You Have Achieved All Awards!<br><br>You Are Awesome :)</h4>
                                        {%- for image, progress in progresses %}
                                        <div class="row valign-wrapper">
                                            <div class="col s2">
                                                <img src="{{ url_for('static', filename='img/award/' + image + '.png') }}" class="award-small-img left">
                                            </div>
                                            <div class="progress col s9">
                                                <div class="determinate" style="width: {{ progress }}%"></div>
                                            </div>
                                            <div class="col s1">
                                                <p>{{ progress }}%</p>
                                            </div>
                                        </div>
                                            {%- if loop.first %}
                                        <script type="text/javascript">$("#no-next-award").hide()</script>
                                            {%- endif %}
                                        {%- endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content hoverable">
                                        <div class="row center">
                                            <span class="card-title">What Charities Are Doing With Your Donations</span>
                                        </div>
                                        <div id="no-target" class="row center card-title grey-text text-darken-1">
                                            <b>You Haven't Chosen any Target Charity</b><br>
                                            You can choose charities from the configurations tab
                                        </div>
                                        {%- for target in interface.get_targets() %}
                                            {% set charity = interface.get_charity_by_image(target.charity) %}
                                        <div class="row valign-wrapper-pro">
                                            <div class="col m2 s8 offset-s4">
                                                <img src="{{ url_for('static', filename='img/charity/' + charity.image + '.jpg') }}" class="charity-small-img">
                                            </div>
                                            <div class="col m10 s12">
                                                <b>{{ charity.name }}</b> {{ charity.investment|safe }}
                                            </div>
                                        </div>
                                            {%- if loop.first %}
                                        <script type="text/javascript">$("#no-target").hide()</script>
                                            {%- endif %}
                                        {%- endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ocd-config" class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center hoverable">
                                        <span class="card-title">Choose the way you like to donate</span><br><br>
                                        <div class="row">
                                            <a id="percent-btn" class="col m3 offset-m3 s12 waves-effect waves-teal btn">Percentage <i class="fa fa-percent right" aria-hidden="true"></i></a>
                                            <div class="row hide-on-med-and-up"></div>
                                            <a id="fixed-btn" class="col m3 s12 waves-effect waves-teal btn">Fixed Amount <i class="fa fa-anchor right" aria-hidden="true"></i></a>
                                        </div>
                                        <div id="percent">
                                            <br><span class="card-subtitle">Percentage to be Dontated with Transactions</span>
                                            <div class="row">
                                                <div class="input-field col m2 offset-m2 s4">
                                                    <input class="with-gap" name="percent" value="2.5" type="radio" id="p1" />
                                                    <label for="p1">2.5%</label>
                                                </div>
                                                <div class="input-field col m1 s4">
                                                    <input class="with-gap" name="percent" value="5.0" type="radio" id="p2" />
                                                    <label for="p2">5.0%</label>
                                                </div>
                                                <div class="input-field col m3 s4">
                                                    <input class="with-gap" name="percent" value="10.0" type="radio" id="p3" />
                                                    <label for="p3">10.0%</label>
                                                </div>
                                                <div class="row hide-on-med-and-up"></div>
                                                <div class="input-field col m2 s12">
                                                    <input id="other-percent" type="number">
                                                    <label for="other-percent">Other: (%)</label>
                                                </div>
                                            </div>
                                            <span class="card-subtitle">Frequency of Donating</span>
                                            <div class="row">
                                                <div class="input-field col m3 offset-m3 s12">
                                                    <input class="with-gap" name="percent-freq" value="all" type="radio" id="f1" />
                                                    <label for="f1">Every Transaction</label>
                                                </div>
                                                <div class="input-field col m4 s12">
                                                    <input class="with-gap" name="percent-freq" value="odd" type="radio" id="f2" />
                                                    <label for="f2">Every two Transactions</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="fixed">
                                            <br><span class="card-subtitle">Fixed Amount to be Regularly Donated</span>
                                            <div class="row">
                                                <div class="input-field col m2 offset-m2 s4">
                                                    <input class="with-gap" name="fixed" value="5.0" type="radio" id="a1" />
                                                    <label for="a1">5AED</label>
                                                </div>
                                                <div class="input-field col m1 s4">
                                                    <input class="with-gap" name="fixed" value="10.0" type="radio" id="a2" />
                                                    <label for="a2">10AED</label>
                                                </div>
                                                <div class="input-field col m3 s4">
                                                    <input class="with-gap" name="fixed" value="20.0" type="radio" id="a3" />
                                                    <label for="a3">20AED</label>
                                                </div>
                                                <div class="row hide-on-med-and-up"></div>
                                                <div class="input-field col m2 s12">
                                                    <input id="other-fixed" type="number">
                                                    <label for="other-fixed">Other: (AED)</label>
                                                </div>
                                            </div>
                                            <span class="card-subtitle">Frequency of Donating</span>
                                            <div class="row">
                                                <div class="input-field col m2 offset-m3 s4">
                                                    <input class="with-gap" name="fixed-freq" value="week" type="radio" id="d1" />
                                                    <label for="d1">Weekly</label>
                                                </div>
                                                <div class="input-field col m1 s4">
                                                    <input class="with-gap" name="fixed-freq" value="month" type="radio" id="d2" />
                                                    <label for="d2">Monthly</label>
                                                </div>
                                                <div class="input-field col m3 s4">
                                                    <input class="with-gap" name="fixed-freq" value="year" type="radio" id="d3" />
                                                    <label for="d3">Annually</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center hoverable">
                                        <span class="card-title">Reveal the hero?</span>
                                        <div class="row">
                                            <div class="input-field col m8 offset-m2 s12">
                                                <input class="with-gap" name="reveal" value="false" type="radio" id="r1" />
                                                <label for="r1">Keep my information and donations anonymous</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col m8 offset-m2 s12">
                                                <input class="with-gap" name="reveal" value="true" type="radio" id="r2" />
                                                <label for="r2">Show my details and enter the leaderboard</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center hoverable">
                                        <span class="card-title">Where your donation goes</span>
                                        <div class="row" id="target">
                                            <h4 class="grey-text text-lighten-1">You Haven't Chosen any Charity Yet!</h4>
                                            {%- for charity in charities %}
                                            <img src="{{ url_for('static', filename='img/charity/' + charity.image + '.jpg') }}" class="charity-img hide">
                                            {%- endfor %}
                                        </div>
                                        <a class="waves-effect btn modal-trigger" href="#charity-modal">Choose Charities <i class="fa fa-check-square-o right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center hoverable">
                                        <span class="card-title">Save Settings, Disable &amp; Hide</span>
                                        <div class="row"></div>
                                        <div class="row btns-row">
                                            <button value="show" class="hide-ocd waves-effect waves-light orange lighten-2 btn z-depth-0 right">Hide Donation Checkbox <i class="fa fa-minus right" aria-hidden="true"></i></button>
                                            <div class="row hide-on-med-and-up"></div>
                                            <button value="enable" class="disable-ocd waves-effect waves-light red lighten-1 btn z-depth-0 left">Disable This Application <i class="fa fa-times right" aria-hidden="true"></i></button>
                                        </div>
                                        <a class="save waves-effect btn">Save Settings <i class="fa fa-caret-right right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Charity Modal Structure -->
                        <div id="charity-modal" class="modal">
                            <div class="modal-content">
                                <h4 class="grey-text text-darken-1">Supported Charities</h4>
                                <ul class="collection">
                                    {%- for charity in charities %}
                                    <li class="collection-item avatar">
                                        <img src="{{ url_for('static', filename='img/charity/' + charity.image + '.jpg') }}" class="circle">
                                        <span class="title">{{ charity.name }}</span>
                                        <p class="charity">{{ charity.description|safe }}</p>
                                        <a class="secondary-content"><input type="checkbox" id="{{ charity.image }}"><label for="{{ charity.image }}"></label></a>
                                    </li>
                                    {%- endfor %}
                                </ul>
                                <a class="waves-effect waves-light btn modal-trigger" href="#request-modal">Request A Charity</a>
                                <a id="done" class="waves-effect waves-light btn right">Done</a>
                            </div>
                        </div>
                        <!--Request Modal Structure -->
                        <div id="request-modal" class="modal">
                            <div class="modal-content">
                                <h4 class="center">Request a Charity Organisation to be Added</h4>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fa fa-building prefix" aria-hidden="true"></i>
                                        <input id="name" type="text" class="validate">
                                        <label for="name">Name of Organization</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="fa fa-pencil prefix" aria-hidden="true"></i>
                                        <input id="reason" type="text" class="validate">
                                        <label for="reason">Reason Behind the Choice</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="fa fa-comments prefix" aria-hidden="true"></i>
                                        <textarea id="textarea" class="materialize-textarea"></textarea>
                                        <label for="textarea">Comments</label>
                                    </div>
                                    <a class="waves-effect waves-light btn right">submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ocd-history">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center hoverable">
                                        <span class="card-title">Donation History Chart</span>
                                        <div id="chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content center hoverable">
                                        <span class="card-title">Awards You Achieved</span>
                                        <div class="row" id="awards">
                                            <h4 class="grey-text text-lighten-1">You Haven't Achieved any Award Yet!</h4>
                                            {%- for award in awards %}
                                            <img src="{{ url_for('static', filename='img/award/' + award.image + '.png') }}" class="award-img hide">
                                            {%- endfor %}
                                        </div>
                                        <a class="waves-effect btn modal-trigger" href="#awards-modal">View All Awards <i class="fa fa-expand right" aria-hidden="true"></i></a>
                                        <div class="row"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content hoverable">
                                        <div class="center">
                                            <span class="card-title">Your Position in the Leaderboard</span>
                                        </div>
                                        {% if client.reveal == "true" %}
                                            {% set count = snippet_index + 1 %}
                                        <ul class="collection">
                                        {%- for client in interface.get_leaderboard_snippet(snippet_index) %}
                                            <li class="collection-item avatar {% if client.username == session['username'] -%}grey lighten-2{%- endif -%}">
                                                <img class="circle {{ colors[loop.index0] }}" src="{{ url_for('static', filename='img/avatar.png') }}">
                                                <span class="title">{{ client.username }}</span>
                                                <p>{{ client.score }}AED</p>
                                                <p class="secondary-content">{{ count }}<sup>{{ exp(count) }}</sup></p>
                                            </li>
                                            {%- set count = count + 1 -%}
                                        {%- endfor %}
                                        </ul>
                                        {% else %}<br>
                                        <div class="row center card-title grey-text text-darken-1">
                                            <b>You Have Chosen to Stay Anonymous</b><br>
                                            Though, you can choose to enter the leaderboard from the configurations tab.
                                        </div>
                                        {% endif %}
                                        <div class="row center">
                                            <a class="waves-effect btn modal-trigger center" href="#leaderboard-modal">View Full Leaderboard <i class="fa fa-expand right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Award Modal Structure -->
                        <div id="awards-modal" class="modal">
                            <div class="modal-content">
                                <h4 class="grey-text text-darken-1">LeaderBoard Position Awards</h4>
                                <ul class="collection">
                                {%- for award in awards %}
                                    {%- if loop.index == 4 %}
                                </ul>
                                <h4 class="grey-text text-darken-1">Number of Donations Awards</h4>
                                <ul class="collection">
                                    {%- elif loop.index == 7 %}
                                </ul>
                                <h4 class="grey-text text-darken-1">Period of Donating Awards</h4>
                                <ul class="collection">
                                    {%- elif loop.index == 10 %}
                                </ul>
                                <h4 class="grey-text text-darken-1">Total Amount Awards</h4>
                                <ul class="collection">
                                    {%- endif %}
                                    <li class="collection-item avatar">
                                        <img src="{{ url_for('static', filename='img/award/' + award.image + '.png') }}" class="circle">
                                        <span class="title">{{ award.name }}</span>
                                        <p class="award">{{ award.description }}</p>
                                    </li>
                                {%- endfor %}
                                </ul>
                            </div>
                        </div>
                        <!--Leaderboard Modal Structure -->
                        <div id="leaderboard-modal" class="modal">
                            <div class="modal-content">
                                <h4 class="grey-text text-darken-1">The LeaderBoard</h4>
                                <ul class="collection">
                                {%- for client in interface.get_full_leaderboard() %}
                                    <li class="collection-item avatar {% if client.username == session['username'] -%}grey lighten-2{%- endif -%}">
                                        <img src="{{ url_for('static', filename='img/avatar.png') }}"
                                            {%- if loop.index0 >= snippet_index and loop.index0 < snippet_index + 4 -%}
                                            class="circle {{ colors[loop.index0 - snippet_index] }}">
                                            {%- else -%}
                                            class="circle" style="background-color: rgba({{ range(255)|random }}, {{ range(255)|random }}, {{ range(255)|random }}, 1)">
                                            {%- endif %}
                                        <span class="title">{{ client.username }}</span>
                                        <p>{{ client.score }}AED</p>
                                        <p class="secondary-content black-text">{{ loop.index }}<sup>{{ exp(loop.index) }}</sup></p>
                                    </li>
                                {%- endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="welcome-ocd" class="col l8 s12">
                <div class="row">
                    <div class="col s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='img/welcome.png') }}" style="padding: 3rem 5rem 2rem 5rem">
                            </div>
                            <div class="card-content center">
                                <span class="card-title"><h4>Welcome to Once Click Donation Application</h4><br>
                                This is a simple application to manage and configure your donations.<br>
                                If you're interested in Doing charity and donating for the poor, then this is the way to go!<br><br>
                                So what are waiting for, enable the app and start your donation adventure.</span>
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row btns-row">
                                    <button value="show" class="hide-ocd waves-effect waves-light orange lighten-2 btn z-depth-0 right">Hide Donation Checkbox <i class="fa fa-minus right" aria-hidden="true"></i></button>
                                    <div class="row hide-on-med-and-up"></div>
                                    <button value="disable" class="disable-ocd waves-effect waves-light green lighten-1 btn z-depth-0 left">Enable This Application <i class="fa fa-check right" aria-hidden="true"></i></button>
                                </div>
                                <a class="save waves-effect btn">Save Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{%- endblock %}