{% extends "inside.html" %}

{% block title %}Transfer{% endblock %}

{% block transfer %}class="active"{% endblock %}

{% block welcome %}Local Transfers within the UAE{% endblock %}

{% block sidebar %}
                    <li class="nbd-yellow"><a>Transfers</a></li>
                    <li><a>Standing Orders</a></li>
                    <li><a>Demand Draft</a></li>
                    <li><a>Manager's Cheque</a></li>
                    <li><a>Transfer History</a></li>
{% endblock %}

{% block main %}
            <div id="transfer" class="col m8 s12 transfer">
                <div class="row">
                    <div class="row">
                        <img src="{{ url_for('static', filename='img/enter-details.png') }}">
                    </div>
                    <div class="row">
                        <p class="red-text bold">This function will enable you to transfer funds within UAE. Any request received before 15:30pm (for AED) and 16:00pm (for other currencies) from Saturday to Thursday will be processed on the same working day, subject to availability of funds and accuracy of details. Otherwise it will be processed the next working day. An e-mail confirmation will be sent to you on the next working day once the request is processed.<br><br>
                        Note:<br>
                        For transferring to other Emirates NBD accounts or Emirates Islamic accounts, please select the option "Transfer to another Emirates NBD account" or "Transfer to Emirates Islamic Bank" in Transfers menu option.</p>
                    </div>
                    <div class="row">
                        <h6 class="bold">From Debit Account</h6>
                    </div>
                    <div class="row valign-wrapper top">
                        <p class="col m3">From Account</p>
                        <select class="col m3 browser-default">
                            <option>1014980276401-AED</option>
                            <option>0384980276402-AED</option>
                        </select>
                        <p id="red-box" class="col m5 offset-m1"><span>Available Balance: <b>AED 10000000000000000 WE ARE RICH!</b></span></p>
                    </div>
                    <div class="row">
                        <h6 class="bold">Beneficiary Details</h6>
                    </div>
                    <div class="valign-wrapper top">
                        <p class="col m3"><i>*</i> Remittance Country</p>
                        <select class="col m3 browser-default">
                            <option>UNITED ARAB EMIRATES</option>
                        </select>
                        <span class="col m1"><img width="24px" src="{{ url_for('static', filename='img/helpicon.png') }}"></span>
                        <div class="col m5"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3"><i>*</i> Name</p>
                        <input type="text" class="col m5">
                        <div class="col m4"><img class="right" src="{{ url_for('static', filename='img/frequentbeneficiary.png') }}"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3"><i>*</i> IBAN Number</p>
                        <input type="text" class="col m4">
                        <div class="col m5"><a><u>Clear Field</u></a></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3"><i>*</i> Address</p>
                        <input type="text" class="col m5">
                        <span class="col m1"><img width="24px" src="{{ url_for('static', filename='img/helpicon.png') }}"></span>
                        <div class="col m3"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3">&nbsp;&nbsp;E-mail</p>
                        <input type="text" class="col m5">
                        <div class="col m4"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3">&nbsp;&nbsp;Telephone Number</p>
                        <input type="text" class="col m3">
                        <div class="col m6"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3"><i>*</i> Bank Name</p>
                        <input type="text" class="col m5">
                        <div class="col m4"><img class="right" src="{{ url_for('static', filename='img/banklookup.png') }}"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3"><i>*</i> Bank Address</p>
                        <input type="text" class="col m5">
                        <div class="col m4"></div>
                    </div>
                    <div class="row valign-wrapper">
                        <p class="col m3"><i>*</i> Swift Code</p>
                        <input type="text" class="col m3">
                        <div class="col m6"></div>
                    </div>
                    <div class="row">
                        <h6 class="bold">Transfer Details.</h6>
                    </div>
                    <div class="valign-wrapper top">
                        <p class="col m3"><i>*</i> Transaction Amount</p>
                        <input type="text" class="col m3">
                        <span class="col m1"><img width="24px" src="{{ url_for('static', filename='img/helpicon.png') }}"></span>
                        <div class="col m5"></div>
                    </div>
                    <div class="row valign-wrapper">
                        <p class="col m3"><i>*</i> Remittance Currency</p>
                        <select class="col m3 browser-default">
                            <option>Please Select</option>
                            <option>EUR</option>
                            <option>GBP</option>
                            <option>AED</option>
                            <option>USD</option>
                        </select>
                        <span class="col m1"><img width="24px" src="{{ url_for('static', filename='img/helpicon.png') }}"></span>
                        <div class="col m5"></div>
                    </div><br><br>
                    <div class="row">We help charity around the world, but there's always room for more</div>
                    <div class="row">
                        <div class="col m6">
                            <input type="checkbox" id="tick"/>
                            <label for="tick">Donate with 2.5% of your transaction</label>
                        </div>
                        <div class="col m6">
                            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Customize</a>
                        </div>
                    </div><br><br>
                    <p>Please note that your telex transfer message to be sent to beneficiary will consist of the <span class="red-text">"exact"</span> message content you are providing under the "Payment Details" once the request is automatically processed.</p>
                    <div class="row">
                        <div class="col m3 offset-m5">
                            <img src="{{ url_for('static', filename='img/go-back.png') }}">
                            <img src="{{ url_for('static', filename='img/transfer.png') }}">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content center">
                    <span class="card-title" style="font-size: 24px">Choose the way you like to donate</span>
                    <br><br><br><div class="row"><a onclick="percent()" class="btn">Percentage</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="fixed()" class="btn">Fixed amount</a></div>
                    <div id="percent1">
                        <br><span class="card-subtitle">Percentage to be dontated with transactions</span>
                        <div class="row">
                            <div class="input-field col s2 offset-s2">
                                <input class="with-gap" name="group1" type="radio" id="r1"  />
                                <label for="r1">2.5%</label>
                            </div>
                            <div class="input-field col s1">
                                <input class="with-gap" name="group1" type="radio" id="r2"/>
                                <label for="r2">5.0%</label>
                            </div>
                            <div class="input-field col s3">
                                <input class="with-gap" name="group1" type="radio" id="r3"  />
                                <label for="r3">10.0%</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="other" type="text">
                                <label for="other">Other: (%)</label>
                            </div>
                        </div>
                        <span class="card-subtitle">Frequency of Donating</span>
                        <div class="row">
                            <div class="input-field col s3 offset-s2">
                                <input class="with-gap" name="group1" type="radio" id="c1"  />
                                <label for="c1">Every Transaction</label>
                            </div>
                            <div class="input-field col s4">
                                <input class="with-gap" name="group1" type="radio" id="c2"/>
                                <label for="c2">Every Other Transaction</label>
                            </div>
                        </div><div class="row" style="margin-bottom: 35px;"></div>
                    </div>
                    <div id="fixed1" style="display: none">
                        <br><span class="card-subtitle">Fixed amount to be regularly donated</span>
                        <div class="row">
                            <div class="input-field col s2 offset-s2">
                                <input class="with-gap" name="group1" type="radio" id="fr1"  />
                                <label for="fr1">5$</label>
                            </div>
                            <div class="input-field col s1">
                                <input class="with-gap" name="group1" type="radio" id="fr2"/>
                                <label for="fr2">15$</label>
                            </div>
                            <div class="input-field col s3">
                                <input class="with-gap" name="group1" type="radio" id="fr3"  />
                                <label for="fr3">30$</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="fother" type="text">
                                <label for="fother">Other: ($)</label>
                            </div>
                        </div>
                        <span class="card-subtitle">Frequency of Donating</span>
                        <div class="row">
                            <div class="input-field col s2 offset-s2">
                                <input class="with-gap" name="group1" type="radio" id="fc1"  />
                                <label for="fc1">Weekly</label>
                            </div>
                            <div class="input-field col s1">
                                <input class="with-gap" name="group1" type="radio" id="fc2"/>
                                <label for="fc2">Monthly</label>
                            </div>
                            <div class="input-field col s3">
                                <input class="with-gap" name="group1" type="radio" id="fc3"/>
                                <label for="fc3">Annually</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="foother" type="text">
                                <label for="foother">Other: (days)</label>
                            </div>
                        </div>
                    </div>
                    <a class="btn" href="#" onclick="$('#modal1').closeModal();">Done</a>
                </div>
            </div>
{% endblock %}