{% extends "inside.html" %}

{% block head -%}
        {{ super() }}
        <!--Import transfer styles-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/transfer.css') }}"/>
        <!--Import transfer scripts-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/transfer.js') }}"></script>
        <!--Import config scripts-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
{%- endblock %}

{% block title %}Transfer{% endblock %}

{% block transfer %}class="active"{% endblock %}

{% block welcome %}Local Transfers within the UAE{% endblock %}

{% block sidebar -%}
                    <li class="nbd-yellow"><a>Transfers</a></li>
                    <li><a>Standing Orders</a></li>
                    <li><a>Demand Draft</a></li>
                    <li><a>Manager's Cheque</a></li>
                    <li><a>Transfer History</a></li>
{%- endblock %}

{% block main -%}
            {%- set client = interface.get_client() -%}
            <script type="text/javascript">
                $(document).ready(function() {
                    if("{{ client.checkbox }}" == "hide") {
                        $("#ocd-title, #ocd-button").hide();
                    } else {
                        if("{{ client.amount }}" != "None")
                            $("#checkbox-input").val({{ client.amount }});
                        var checkboxValue = $("#checkbox-input").val();

                        $("#checkbox-input").click(function() {
                            if($("#checkbox-input").val() == checkboxValue)
                                $("#checkbox-input").val("");
                        })
                        $("#checkbox-input").blur(function() {
                            if($("#checkbox-input").val() == "")
                                $("#checkbox-input").val(checkboxValue);

                            if($("#fixed-btn").hasClass("z-depth-0")) {
                                $("#other-percent").val($(this).val()).trigger("blur").addClass("filled");
                                $("#other-percent").parent().find("label").addClass("active");
                            } else if($("#percent-btn").hasClass("z-depth-0")) {
                                $("#other-fixed").val($(this).val()).trigger("blur").addClass("filled");
                                $("#other-fixed").parent().find("label").addClass("active");
                            }
                        })

                        $("#{{ client.type }}-btn").trigger("click");
                        if("{{ client.type }}" == "fixed") $("#currency").text("AED");
                        if($("input[name='{{ client.type }}'][value='{{ client.amount }}']").length == 1)
                            $("input[name='{{ client.type }}'][value='{{ client.amount }}']").trigger("click");
                        else if("{{ client.amount }}" != "None")
                            $("#other-{{ client.type }}").val({{ client.amount }}).addClass("filled");
                        if("{{ client.app }}" == "enable")
                            $("#hide-it, #regular").hide();
                    }
                });
            </script>
            <div id="transfer" class="col m8 s12 transfer">
                <div class="row">
                    <div class="row">
                        <img src="{{ url_for('static', filename='img/enter-details.png') }}">
                    </div>
                    <div class="row">
                        <p class="red-text bold">This function will enable you to transfer funds within UAE. Any request received before 15:30pm (for AED) and 16:00pm (for other currencies) from Saturday to Thursday will be processed on the same working day, subject to availability of funds and accuracy of details. Otherwise it will be processed the next working day. An e-mail confirmation will be sent to you on the next working day once the request is processed.<br><br>
                        Note:<br>
                        For transferring to other Emirates NBD accounts or Emirates Islamic accounts, please select the option "Transfer to another Emirates NBD account" or "Transfer to Emirates Islamic Bank" in Transfers menu option.</p>
                    </div>
                    <div class="row">
                        <h6 class="bold">From Debit Account</h6>
                    </div>
                    <div class="row valign-wrapper top">
                        <p class="col m3">From Account</p>
                        <select class="col m3 browser-default">
                            <option>1014980276401-AED</option>
                            <option>0384980276402-AED</option>
                        </select>
                        <p id="red-box" class="col m4 offset-m2"><span>Available Balance: <b>AED {{ (client.balance) | round(2) }}</b></span></p>
                    </div>
                    <div class="row">
                        <h6 class="bold">Beneficiary Details</h6>
                    </div>
                    <div class="valign-wrapper top">
                        <p class="col m3"><i>*</i> Remittance Country</p>
                        <select class="col m3 browser-default">
                            <option>UNITED ARAB EMIRATES</option>
                        </select>
                        <span class="col m1"><img width="24px" src="{{ url_for('static', filename='img/helpicon.png') }}"></span>
                        <div class="col m5"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3"><i>*</i> Name</p>
                        <input type="text" class="col m5">
                        <div class="col m4"><img class="right" src="{{ url_for('static', filename='img/btn/frequentbeneficiary.png') }}"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3"><i>*</i> IBAN Number</p>
                        <input type="text" class="col m4">
                        <div class="col m5"><a><u>Clear Field</u></a></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3"><i>*</i> Address</p>
                        <input type="text" class="col m5">
                        <span class="col m1"><img width="24px" src="{{ url_for('static', filename='img/helpicon.png') }}"></span>
                        <div class="col m3"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3">&nbsp;&nbsp;E-mail</p>
                        <input type="text" class="col m5">
                        <div class="col m4"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3">&nbsp;&nbsp;Telephone Number</p>
                        <input type="text" class="col m3">
                        <div class="col m6"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3"><i>*</i> Bank Name</p>
                        <input type="text" class="col m5">
                        <div class="col m4"><img class="right" src="{{ url_for('static', filename='img/btn/banklookup.png') }}"></div>
                    </div>
                    <div class="valign-wrapper">
                        <p class="col m3"><i>*</i> Bank Address</p>
                        <input type="text" class="col m5">
                        <div class="col m4"></div>
                    </div>
                    <div class="row valign-wrapper">
                        <p class="col m3"><i>*</i> Swift Code</p>
                        <input type="text" class="col m3">
                        <div class="col m6"></div>
                    </div>
                    <div class="row">
                        <h6 class="bold">Transfer Details.</h6>
                    </div>
                    <div class="valign-wrapper top">
                        <p class="col m3"><i>*</i> Transaction Amount</p>
                        <input id="money" type="number" class="col m3">
                        <span class="col m1"><img width="24px" src="{{ url_for('static', filename='img/helpicon.png') }}"></span>
                        <div class="col m5"></div>
                    </div>
                    <div class="row valign-wrapper">
                        <p class="col m3"><i>*</i> Remittance Currency</p>
                        <select id="currency-select" class="col m3 browser-default">
                            <option>Please Select</option>
                            <option>EUR</option>
                            <option>GBP</option>
                            <option>AED</option>
                            <option>USD</option>
                        </select>
                        <span class="col m1"><img width="24px" src="{{ url_for('static', filename='img/helpicon.png') }}"></span>
                        <div class="col m5"></div>
                    </div><br>
                    <div id="ocd-title" class="row">
                        <h6 class="bold">We Help Charity Around The World, But There's Always Room For More!</h6>
                    </div>
                    <div id="ocd-button" class="row">
                        <div class="col m6">
                            <input type="checkbox" id="tick"/>
                            <label for="tick" class="grey-text text-darken-2">Donate with <input id="checkbox-input" type="text" class="validate" value="2.5"><span id="currency">%</span> of your transaction</label>
                        </div>
                        <div class="col m3">
                            <a id="customize" class="waves-effect waves-light btn modal-trigger" href="#ocd-modal">Customize</a>
                        </div>
                    </div><br><br>
                    <p>Please note that your telex transfer message to be sent to beneficiary will consist of the <span class="red-text">"exact"</span>
                        message content you are providing under the "Payment Details" once the request is automatically processed.</p>
                    <div class="row">
                        <div class="col m3 offset-m5">
                            <a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='img/btn/go-back.png') }}"></a>
                            <a id="transfer-btn"><img src="{{ url_for('static', filename='img/btn/transfer.png') }}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="ocd-modal" class="modal">
                <div class="modal-content center">
                    <span class="title">Choose the way you like to donate</span><br><br>
                    <a id="percent-btn" class="waves-effect waves-teal btn tooltipped" data-position="left"
                       data-delay="200" data-tooltip="Of this transaction">Percentage</a>
                    <a id="fixed-btn" class="waves-effect waves-teal btn tooltipped" data-position="right"
                       data-delay="200" data-tooltip="With this transaction">Fixed Amount</a><br><br>
                    <div id="percent" class="col s12">
                        <div class="row">
                            <div class="input-field col s2 offset-s2">
                                <input class="with-gap" name="percent" value="2.5" type="radio" id="p1" />
                                <label for="p1">2.5%</label>
                            </div>
                            <div class="input-field col s1">
                                <input class="with-gap" name="percent" value="5.0" type="radio" id="p2" />
                                <label for="p2">5.0%</label>
                            </div>
                            <div class="input-field col s3">
                                <input class="with-gap" name="percent" value="10.0" type="radio" id="p3" />
                                <label for="p3">10.0%</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="other-percent" type="number">
                                <label for="other-percent">Other: (%)</label>
                            </div>
                        </div>
                    </div>
                    <div id="fixed" class="col s12">
                        <div class="row">
                            <div class="input-field col s2 offset-s2">
                                <input class="with-gap" name="fixed" value="5.0" type="radio" id="a1" />
                                <label for="a1">5AED</label>
                            </div>
                            <div class="input-field col s1">
                                <input class="with-gap" name="fixed" value="10.0" type="radio" id="a2" />
                                <label for="a2">10AED</label>
                            </div>
                            <div class="input-field col s3">
                                <input class="with-gap" name="fixed" value="20.0" type="radio" id="a3" />
                                <label for="a3">20AED</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="other-fixed" type="number">
                                <label for="other-fixed">Other: (AED)</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <span class="title">Where your donation goes</span>
                    <div class="carousel">
                        {%- for charity in interface.get_charities() %}
                        <a class="carousel-item"><img src="{{ url_for('static', filename='img/charity/' + charity.image + '.jpg') }}">{{charity.name}}</a>
                        {%- endfor %}
                    </div>
                    <div class="modal-footer">
                        <button id="hide-it" value="false" class="waves-effect waves-light red lighten-1 btn tooltipped left z-depth-0"
                                 data-position="top" data-delay="250" data-tooltip="And Hide Donation Checkbox">Don't Ever Donate</button>
                        <a id="done" class="waves-effect waves-teal btn">Done</a>
                        <button id="regular" value="false" class="waves-effect waves-light green lighten-1 tooltipped btn z-depth-0"
                                 data-position="top" data-delay="250" data-tooltip="And Enable Donation Configs">Donate Regularly</button>
                    </div>
                </div>
            </div>
{%- endblock %}